/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'robotoregular';
    src: url('files/fonts/Roboto-Regular-webfont.eot');
    src: url('files/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('files/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('files/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('files/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'robotobold';
    src: url('files/fonts/Roboto-Bold-webfont.eot');
    src: url('files/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('files/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('files/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('files/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'robotolight';
    src: url('files/fonts/Roboto-Light-webfont.eot');
    src: url('files/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('files/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('files/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('files/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Éléments principaux de la page */

h1
{
	font-family: 'robotoregular', Arial, serif;
	text-transform: uppercase;
}

h2
{
	font-family: 'robotoregular', Arial, serif;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	margin: 20px 0 0 0;
}

h3
{
	font-family: 'robotobold', Arial, serif;
	font-size: 20px;
	line-height: 0.5em;
}

p
{
	color: #686c71;
	font-family: 'robotoregular', Arial, serif;
	line-height: 2em;
}

hr
{
	position: relative;
	z-index: 1;
	width: 150px;
	opacity: 0.4;
}

/* ------------------------ Header ------------------------ */

.top_page
{
	height: 90px;
	z-index: 12;
	background-color: white;
	position: fixed;
	top: 0;
	padding-left: 150px;
	font-family: 'robotoregular', Arial, serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* ------------------------ Menu de navigation ------------------------ */

nav
{
	width: 70%;
	position: absolute;
	left: 60%;
	top: 35px;
}

nav a
{
	padding: 32px 15px 25px 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	color: #777;
	text-decoration: none;
}

nav a:hover
{
	border-top-color: #5CADD3;
	color: #555;
}


/*------------------------ Slider ------------------------ */

.banner
{
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: 0px;
}

.text_image
{
	position: absolute;
	z-index: 4;
	margin-top: 120px;
	left: 16%;
	min-width: 250px;
	max-width: 30%;
}

.text_image h2
{
	font-size: 36px;
	font-family: 'robotobold', Arial, serif;
	line-height: 1em;
	text-align: left;
}

.blue
{
	color: #5CACD1;
}

@media all and (min-width: 1025px)
{
	.white
	{
		color: #fff;
	}
}

header p
{
	font-family: 'robotolight', Arial, serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
}

.blue_button
{
	background-color: #5CACD1;
	color: #fff;
	padding: 6px 13px 6px 13px;
	border-radius: 2px;
	font-family: 'robotolight', Arial, serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 2px 0px #4494bb;
}

.carousel-wrapper 
{
	position: relative;
	height: 550px;
	margin-top: 149px;
}

.carousel-wrapper .carousel-item 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.item-1, .item-2
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-wrapper .carousel-item .arrow 
{
	position: absolute;
	z-index: 1;
}

.carousel-wrapper a
{
	color: #fff;
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
	width: 30px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-wrapper a[class*="left"]
{
	border-radius: 0 40px 40px 0;
}

.carousel-wrapper a[class*="right"]
{
	border-radius: 40px 0 0 40px;
}

.carousel-wrapper a:hover
{
	background-color: rgba(0,0,0,0.5);
}

.carousel-wrapper .carousel-item .arrow.arrow-prev 
{
	text-align: center;
}

.carousel-wrapper .carousel-item .arrow.arrow-next 
{
	right: 0;
	text-align: center;
	border-radius: 40px 0 0 40px;
}

.carousel-wrapper [id^="target-item"] 
{
	display: none;
}

.carousel-wrapper .item-1 
{
	opacity: 1;
}

.carousel-wrapper *:target ~ .item-1 
{
	opacity: 0;
}

.carousel-wrapper #target-item-1:target ~ .item-1 
{
  	z-index: 2;
  	opacity: 1;
}

.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper
{
	z-index: 3;
	opacity: 1;
}

/* ------------------------ Propriétés de l'en-tête valables pour toutes les sections ------------------------*/

.head_sections
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 250px;
}

.head_sections p
{
	width: 50%;
}

.head_sections .fa-circle
{
	position: relative;
	font-size: 20px;
	z-index: 2;
	left: 0;
	top: 19px;
}

/* ------------------------ Section 1 : Nos services ------------------------ */

.three_services
{
	display: flex;
	justify-content: flex-end;
}

.text_services
{
	width: 50%;
}

.image_services
{
	text-align: right;
}

.fa-line-chart, .fa-cubes, .fa-pie-chart, .fa-circle
{
	color: #5cadd3;
}

.separation
{
	width: 150px;
	height: 60px;
}

#services
{
	padding-top: 100px;
}

#services .fa-circle
{	
	border-right: 7px solid white;
	border-left: 7px solid white;
}

.three_services
{
	padding-bottom: 50px;
}

.service
{
	display: flex;
}

.icon
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 25px;
	border: 0.5px solid #d7d7d7;
	border-radius: 100px;
	margin-right: 30px;
	padding: 20px;
	width: 25px;
	height: 25px;
}

.chart
{
	width: 25px;
}

.circle
{
	background-color: white;
	z-index: 2;
	font-size: 14px;
	margin-left: 5px;
	border: 2px solid white;
}

/* ------------------------ Section 2 : Nos projets ------------------------ */

#portfolio
{
	background-color: #f5f5f5;
	margin-bottom: 50px;
}

#portfolio .fa-circle
{
	border-left: 7px solid #f5f5f5;
	border-right: 7px solid #f5f5f5;
}

.selection_images
{
	display: flex;
	flex-direction: column;
}

input[type=radio]
{
	display: none;
}

label
{
	width: 55px;
	display: inline-block;
	align-self: center;
}

label[for="tab_1"]
{
	position: relative;
	right: 137px;
}

label[for="tab_2"]
{
	position: relative;
	right: 46px;
	bottom: 38px;
}

label[for="tab_3"]
{
	position: relative;
	left: 45px;
	bottom: 76px;
}

label[for="tab_4"]
{
	position: relative;
	left: 136px;
	bottom: 114px;
}

.left_tab_radius
{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right_tab_radius
{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Affichage par défaut de l'onglet */
.selection_images input[type=radio] + label
{
	color: #64686d;
	background-color: #e5e5e5;
	text-decoration: none;
	padding: 10px 18px;
	font-family: 'robotolight', Arial, serif;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
}

/* Affichage de l'onglet quand il est sélectionné */
.selection_images input[type=radio]:checked + label
{
	font-family: 'robotolight', Arial, serif;
	background-color: #5cadd3;
	color: #fff;
	border-bottom: 3px solid #468cad;
	padding: 10px 18px 7px 18px;
}

input
{
	position: relative;
}

.selection_images #tab_1[type=radio]:checked + label:after,
.selection_images #tab_2[type=radio]:checked + label:after,
.selection_images #tab_3[type=radio]:checked + label:after,
.selection_images #tab_4[type=radio]:checked + label:after
{	
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: absolute;
  color: #468cad;
  font-size: 20px;
  top: 30px;
  left: 40px;
}

/* Légende des images */

figcaption h3, figcaption p
{
	color: white;
	margin-left: 10px;
}

figcaption h3
{
	margin-bottom: 5px;
	margin-top: 10px;
}

figcaption p
{
	margin-top: 5px;
	white-space: nowrap;
}

figure 
{
  position: relative;
}

figure img 
{
  display: block;
  width: 100%;
  height: auto;
}

figcaption 
{
  position: absolute; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  text-align: left;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

figure:hover figcaption {
  opacity: 1;
}

figcaption i
{
	color: white;
	border: 2px solid white;
	background-color: #4692b1;
	padding: 15px;
	border-radius: 50px;
}

figcaption a
{
	position: relative;
	top: -40%;
	right: 5%;
}

@media all and (min-width: 1024px) and (max-width: 1300px)
{
	figcaption 
	{
		height: 50px;
	}

	figcaption p, figcaption h3
	{
		font-size: 12px;
	}

	figcaption i
	{
		padding: 10px;
	}
}

.row_portfolio
{
	display: flex;
	justify-content: space-around;
	padding-left: 5px;
	padding-right: 5px;
}

.bottom_row
{
	margin-top: 30px;
	margin-bottom: 50px;
}

.single_row
{
	padding-bottom: 80px;
}

.images_all_works, .images_creative, .images_corporate, .images_portfolio
{
	display: none;
}

.selection_images #tab_1[type=radio]:checked ~ .images_all_works,
.selection_images #tab_2[type=radio]:checked ~ .images_creative,
.selection_images #tab_3[type=radio]:checked ~ .images_corporate,
.selection_images #tab_4[type=radio]:checked ~ .images_portfolio
{
	display: block;
}

/* ------------------------ Section 3 : Contact ------------------------ */

#contact
{
	text-align: center;
	height: 550px;
}

form p
{
	display: flex;
	flex-direction: column;
}

#contact input[type="text"]
{
	width: 220px;
	height: 30px;
	margin-bottom: 15px;
}

textarea
{
	width: 220px;
	height: 150px;
}

#contact input, #contact textarea
{
	font-family: 'robotolight', Arial, serif;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #ccc;
	padding-left: 10px;
	border-radius: 5px;
}

iframe
{
	width: 100%;
	height: 600px;
	border: 0;
}

.formular
{
	position: relative;
	left: 70%;
	bottom: 580px;
	height: 545px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 290px;
}

.dotted_line
{
	border-bottom: 1px dotted #777;
}

.form_text
{
	align-self: flex-start;
	margin-left: 33px;
}

strong
{
	font-weight: bold;
}

#send_message
{
	background-color: #5cadd3;
	color: #fff;
	border-bottom: 3px solid #468cad;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'robotobold', Arial, serif;
	font-weight: bold;
	text-align: left;
	width: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#send_message:focus
{
	outline: none;
}

/* Responsive */

@media all and (max-width: 1024px)
{
	.top_page
	{
		position: static;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.top_page img
	{
		position: absolute;
		top: 25px;
	}

	nav
	{
		position: static;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-color: #ebebeb;
		padding: 0;
		margin: 0;
		width: 100%;
		margin-top: 300px;
	}

	nav a
	{
		padding: 10px;
		border: none;
		text-align: center;
		border-top: 3px solid #ebebebeb;
		border-bottom: 3px solid #ebebebeb;
	}

	nav a:hover
	{
		border-bottom-color: #5CADD3
	}

	.banner
	{
		margin-top: 305px;
	}

	.carousel-wrapper 
	{
		top: 50px;
	}

	.carousel-wrapper .carousel-item 
	{
		top: 50px;
		height: 50px;
	}

	.arrow
	{
		margin-top: 154px;
	}

	.text_image
	{
		position: static;
		align-self: center;
		color: black;
		max-width: 100%;
		margin-top: 170px;
	}

	.all_slider
	{
		display: flex;
		flex-direction: column-reverse;
	}

	.carousel-wrapper 
	{
		height: 300px;
		margin-top: 153px;
	}

	.arrow
	{
		align-self: center;
	}

	.head_sections
	{
		margin-bottom: 80px;
	}

	.image_services
	{
		text-align: center;
	}

	.three_services
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.row_portfolio
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.row_portfolio figure
	{
		width: 360px;
		height: 240px;
		margin-bottom: 20px;
	}

	.bottom_row
	{
		margin: 0;
	}

	#contact
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: 680px;
	}

	iframe
	{
		align-self: center;
	}

	.formular
	{
		bottom: 0;
		left: 0;
		align-self: center;
		margin-bottom: 30px;
	}

	#contact
	{
		height: 1100px;
	}
}

@media all and (max-width: 768px)
{
	.head_sections p
	{
		width: 100%;
	}

	.image_services img
	{
		width: 400px;
		height: auto;
		margin-top: 20px;
	}

	.three_services
	{
		display: flex;
		flex-direction: column;
		margin-top: 100px;
		width: 100%;
	}

	.service
	{
		display: block;
		position: relative;
		left: 0;
	}

	.icon
	{
		margin-right: 0;
		float: left;
	}

	.text_services
	{
		width: 80%;
		margin-bottom: 50px;
		position: relative;
		left: 15px;
	}

	.icon + article h3
	{
		font-size: 1em;
	}

	.row_portfolio figure
	{
		width: 250px;
		height: auto;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 560px)
{
	label[for="tab_1"]
	{
		position: relative;
		right: 44px;
	}

	label[for="tab_2"]
	{
		position: relative;
		left: 47px;
		bottom: 38px;
	}

	label[for="tab_3"]
	{
		position: relative;
		left: -44px;
		bottom: 38px;
	}

	label[for="tab_4"]
	{
		position: relative;
		left: 47px;
		bottom: 76px;
	}

	.selection_images #tab_1[type=radio]:checked + label:after,
	.selection_images #tab_2[type=radio]:checked + label:after,
	.selection_images #tab_3[type=radio]:checked + label:after,
	.selection_images #tab_4[type=radio]:checked + label:after
	{	
	  content: "";
	}

	.left_tab_radius
	{
		border-radius: initial;
	}

	.right_tab_radius
	{
		border-radius: initial;
	}
}